<!DOCTYPE html>
<html lang="en">
    <head>
        <title> My Accounts </title>
        <link rel="stylesheet" href="../static/css/pop-up.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
        <link rel="stylesheet" href="../static/css/input.css">
        <link rel="stylesheet" href="../static/css/canvas.css">
        <script src="../static/js/accountsHandler.js"></script>
        <script src="../static/js/accounts.js"></script>
        <script src="../static/js/categories.js"></script>
        <script src="../static/js/spends.js"></script>
        <script src="../static/js/post.js"></script>
        <script src="../static/js/balanceUpdater.js"></script>
        <script src="../static/js/pop-up.js"></script>
    </head>
    <body>
        <h1 class="title"> My accounts </h1>
        <a href="index.html"> My Expenses </a>
        <a href="incomes.html"> My Incomes </a>
        <div class="accounts" id="accounts"></div>

        <button class="pop-up" onclick="popUp('transfer');"> Transfer Money </button>
        <button class="pop-up" onclick="popUp('account')"> Add Account </button>

        <div id="pop-up-overlay" class="overlay-container">
            <div id="box" class="pop-up-box">  </div>
        </div> 
    </body>
</html>